@media only screen and (min-width:599px) and (max-width:767px) {
  .logo {
    text-align: center
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header_section {
    background-size: cover
  }

  .logo {
    width: 25%
  }

  .heavy_text {
    font-size: 17px
  }

  .language_taital_1 {
    font-size: 32px
  }

  .image_2 {
    left: -160px
  }

  .image_3 {
    height: auto;
    background-size: cover
  }

  .image_4 {
    height: auto;
    background-size: cover
  }

  .image_5 {
    height: auto;
    background-size: cover
  }

  .about_taital_1 {
    font-size: 26px;
    padding-top: 20px
  }

  .image_6 {
    height: 310px;
    padding: 161px 0
  }

  .images_main::after {
    height: 270px;
    width: 450px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .header_section {
    background-size: cover
  }

  .image_2 {
    left: -70px
  }

  .language_taital_1 {
    font-size: 24px
  }

  .language_taital {
    font-size: 40px
  }

  .language_section_2 {
    padding-top: 50px
  }

  .language_section {
    padding-top: 60px
  }

  .gallery_text {
    width: 55%
  }

  .image_3 {
    background-size: cover
  }

  .image_4 {
    background-size: cover
  }

  .image_5 {
    background-size: cover;
    margin-top: 30px
  }

  .about_taital_1 {
    font-size: 20px;
    padding-top: 0
  }

  .about_text {
    font-size: 14px;
    padding-top: 10px
  }

  .appoinment_bt {
    width: 170px;
    margin-top: 20px
  }

  .image_6 {
    padding: 89px 0;
    height: auto
  }

  .about_section {
    padding-bottom: 0
  }

  .border_bg {
    width: 160px
  }

  .images_main::after {
    height: 190px;
    width: 330px
  }

  .box_main {
    margin-top: 30px
  }

  .readmore_bt a {
    margin-top: 20px
  }
}