@import url(https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

* {
    box-sizing: border-box !important;
    transition: ease all .5s
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important
}

body {
    color: #666;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.80857;
    font-weight: 400;
    overflow-x: hidden !important
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: 0 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: 400;
    padding: 0 0 10px 0;
    font-weight: 400;
    line-height: normal;
    color: #111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: 0
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px
}

a {
    color: #222;
    text-decoration: none;
    outline: 0 !important
}

a {
    text-decoration: none !important;
    outline: 0 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

img {
    max-width: 100%;
    height: auto
}

:focus {
    outline: 0
}

#app {
    background: #2e1a3e
}

.lessons-pic {
    width: 100%
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0
}

.header_bg {
    background: 0 0 !important;
    border-bottom: 2px solid #dbc64c
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/csharp-bg.png);
    height: auto;
    background-size: 100%;
    margin-bottom: 30px;
}

.logo {
    width: 35%;
    float: left
}

.logo-link {
    font-size: 24px;
    font-weight: 700
}

.bg-light {
    background-color: #fff !important;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #d2ba1b
}

.navbar-light .navbar-nav .nav-link {
    color: #212120;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px
}

.navbar {
    padding: .5rem 40px;
    border: 1px solid #000;
    margin-bottom: 2px
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #d2ba1b
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 90px
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #fdfcfc;
    font-weight: 700;
    text-align: center
}

.banner_taital_small {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fdfcfc;
    font-weight: 700;
    text-align: center
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #dbc64c;
    text-align: center;
    margin: 0;
    font-weight: 700
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #dbc64c;
    border: 3px solid #dbc64c;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px
}

.read_bt a:hover {
    color: #dbc64c;
    background-color: #fff
}

.play_icon {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    top: -40px
}

.language_section {
    width: 100%;
    float: left;
    padding-bottom: 90px
}

.language_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #dbc64c;
    font-weight: 700;
    padding: 0
}

.language_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #2d2d2d;
    font-weight: 700;
    padding: 0
}

.language_section_2 {
    width: 100%;
    float: left
}

.box_main {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px;
    background-color: #dbc64c;
    border-radius: 7px;
    cursor: pointer
}

.box_main.active {
    background-color: #fff;
    box-shadow: 0 3px 20px -3px #f4f4f4
}

.icon_1 {
    width: 100%;
    float: left;
    min-height: 60px
}

.heavy_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #242323;
    text-align: center;
    padding-top: 20px;
    font-weight: 500
}

.heavy_text.active {
    color: #000
}

.box_main:hover {
    background-color: #fff;
    box-shadow: 0 3px 20px -3px #f4f4f4
}

.readmore_bt {
    width: 100px;
    margin: 0 auto;
    text-align: center
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    background: #270b60;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 18px 0;
}

.readmore_bt a:hover {
    color: #dbc64c;
    border-bottom: 3px solid #dbc64c
}

.appoinment_bt {
    width: 210px;
    float: left;
    margin-top: 50px
}

.appoinment_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #dbc64c;
    border: 3px solid #dbc64c;
    text-align: center;
    padding: 10px 0
}

.appoinment_bt a:hover {
    color: #fff;
    background-color: #dbc64c
}

.image_1 {
    width: 100%;
    float: left
}

.image_2 {
    width: 100%;
    float: left;
    position: relative;
    left: -240px;
    margin-top: 25px
}

.gallery_section {
    width: 100%;
    float: left;
    background-color: #270b60;
    height: auto;
    padding: 90px 0 60px 0;
}

.gallery_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #dbc64c;
    font-weight: 700;
    padding: 0;
    text-align: center;
}

.gallery_text {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #fff;
    margin: 10px;
    text-align: center;
}

.gallery_section_2 {
    width: 100%;
    float: left
}

.image_3 {
    width: 100%;
    float: left;
    background-image: url(../images/inheritance-image.png);
    height: 200px;
    background-size: 100%;
    padding: 70px 0
}

.image_4 {
    width: 100%;
    float: left;
    background-image: url(../images/encapsulation.png);
    height: 200px;
    background-size: 100%;
    padding: 70px 0
}

.image_5 {
    width: 100%;
    float: left;
    background-image: url(../images/polymorphism-1.png);
    height: 200px;
    background-size: 100%;
    padding: 70px 0
}

.image_5_1 {
    width: 100%;
    float: left;
    background-image: url(../images/abstraction-1.png);
    height: 200px;
    background-size: 100%;
    padding: 70px 0
}

.play_icon_2 {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 9
}

.play_icon_2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 115%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0 0 10px 0
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0
    }
}

.language_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #dbc64c;
    text-align: center;
    margin-top: 10px
}

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0e100f;
    font-weight: 700;
    padding: 0
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #161616;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 0
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0e100f;
    margin: 0;
    padding-top: 30px
}

.image_6 {
    width: 100%;
    float: left;
    background-image: url(../images/img-6.png);
    height: 386px;
    background-size: 100%;
    padding: 163px 0
}

.image_7 {
    width: 100%;
    float: left;
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    height: 386px;
    background-size: 100%;
    padding: 163px 0
}

.play_icon_3 {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 9
}

.play_icon_3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 115%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0 0 10px 0
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0
    }
}

.courses_section {
    width: 100%;
    float: left;
    padding-bottom: 90px
}

.courses_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0e100f;
    font-weight: 700;
    padding: 0;
    text-align: center;
    margin-bottom: 20px
}

.courses_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0e100f;
    margin: 0;
    text-align: center
}

.courses_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px
}

.flag_main {
    width: 190%;
    display: flex;
    margin-top: 20px
}

.flag_text {
    float: left;
    font-size: 20px;
    color: #0e100f;
    font-weight: 700;
    padding-top: 4px;
    width: 100%;
    padding: 7px;
    color: #fff;
    border-radius: 15px
}

.padding_left_15 {
    padding-left: 15px
}

.border_bg {
    left: 0;
    background-color: #dbc64c;
    height: 2px;
    width: 540px;
    position: relative;
    top: 9px
}

.image_7 {
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: block;
    z-index: 9
}

.images_main {
    width: 100%;
    float: left;
    position: relative
}

.images_main::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 330px;
    width: 540px;
    top: 47px
}

.name_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #decb5e;
    padding: 0
}

.image_9 {
    width: 100%;
    float: left;
    position: relative;
    top: -50px;
    left: -60px
}

.left_arrow {
    width: 60px;
    background-color: #decb5e;
    text-align: center;
    padding: 10px 0
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #161616;
    height: auto;
    padding: 150px 0 50px 0
}

.padding_left_15 {
    padding-left: 15px
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #141414;
    height: auto;
    box-shadow: 0 10px 20px 1px #a4a4a4
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 15px 0
}

.copyright_text a {
    color: #fff
}

.copyright_text a:hover {
    color: #dbc64c
}

.lesson-container {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.code {
    background: #272822;
    color: #ebebeb;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace
}

pre {
    color: #fff;
    overflow-x: scroll;
}

.lessons-nav {
    padding: 0;
    margin: 0;
    display: flex;
    color: inherit
}

.lessons-nav li {
    position: relative
}

.lessons-nav>li {
    padding: 15px 20px;
    color: #fff;
    cursor: pointer
}

.nav-item {
    color: red
}

.solid-titles {
    font-weight: bold;
}